/* Apply to everything shizz  e.g. Grids*/
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
   ]
}
.container {
    display: grid;
    grid-template-areas: 
    "heading"
    "disclaimer"
    "userdata"
    "tab"
    "next";
    grid-template-rows: 8% 9% 55% 36% 5%;
    height: 100%;
    width: 100%;
    min-width: 800px; 
    min-height: 2800px;
    padding: 10px;
  }

#userdata {grid-area: userdata;
    padding-left: 5%;
    padding-right: 10%;
}


#next {
    background-color: olive;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    letter-spacing: 1px
}
    
#tab { grid-area: tab;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 5%;
}


#disclaimer { grid-area: disclaimer;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    letter-spacing: 1px;
    text-align: center;
    }
    

.heading {
    grid-area: heading;
    background-color: red;
    color: white;  
    text-align: center;  
    font-weight: 200;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.info {display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    "GCSEcore GCSEncore"
    "ALevels AGrades"
    "Course AdmissionTests"
    "WP submit";
    grid-template-rows: 30% 30% 15% 12% 5%;
    grid-template-columns: 50% 50%;
    grid-gap: 50px;


}


#GCSEcore { grid-area: GCSEcore;
    border: 5px solid olive;
    box-shadow: 10px 10px olive;
    display: grid;
    align-items: center;
    justify-items: center;
}
#GCSEncore { grid-area: GCSEncore;
    border: 5px solid olive;
    box-shadow: 10px 10px olive;
    display: grid;
    align-items: center;
    justify-items: center;


}

#ALevels  { grid-area: ALevels;
    width: 100%;
    border: 5px solid olive;
    box-shadow: 10px 10px olive;
    display: grid;
    align-items: center;
    justify-items: center;
}

#AGrades  { grid-area: AGrades;
    width: 100%;
    border: 5px solid olive;
    box-shadow: 10px 10px olive;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;

}

#WP { grid-area: WP;
    border: 5px solid olive;
    box-shadow: 10px 10px olive;
    display: grid;
    align-items: center;   
    justify-items: center; 
}

#submit { grid-area: submit;
    display: grid;
    align-items: center;
    justify-items: center;

}

#AdmissionTests { grid-area: AdmissionTests;
    border: 5px solid olive;
    box-shadow: 10px 10px olive;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;

}

#Course { grid-area: Course;
    border: 5px solid olive;
    box-shadow: 10px 10px olive;
    width: 100%;
    display: grid;
    align-items: center;   
    justify-items: center; 
}

#Interview { grid-area: Interview;
    width: 100%;
    border: 5px solid olive;
    box-shadow: 10px 10px olive;
    display: grid;
    align-items: center;   
    justify-items: center; 
}

.GCSEgrid { display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    padding: 10px;
    width: 90%

}

.box {
    border: 1px lightgray solid;
    padding: 20px;
    text-align: center;
  }

}

  
/* Table Formatting*/
table {
    text-align: center;
    vertical-align: middle;

}

td{  letter-spacing: 1px;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    border: black 1px;
    border-bottom: solid 1px;

}

th{ background-color: white ;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;

}


/* Form Formatting*/

h2 { letter-spacing: 2px;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    padding: 15px 20px;

}
#WPT {font-size: 20px;

}


/*GCSE*/

input[type="number"]{ text-align: center;
    width: 75px;

}
label { display: inline;
    padding: 10px;
    letter-spacing: 2px;
}

.lab { display: block;

}

/* Submit button*/

input[type="button"]:hover {background-color: lightgrey;
}

input[type="button"]{ background-color: olive;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    font-size: 25px;
    padding: 15px 20px;
    border-radius: 8px;
    border:solid;

}

#all{
    align-self: center;
}

/* A Level */
.select {
    width: 80%;
    padding: 16px 20px;
    border: lightgray solid;
    border-radius: 4px;
    font-size: 15px; 
}

.checklab { font-size: 20px;
    
}

/* Course */


.slider {
    display: block;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 20px; /* Specified height */
    background: lightgray; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 8px;

  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: olive; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 8px;
  }
  
/* Interview */

input[type=checkbox] {
    display: inline-block;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    border: 2px solid lightgrey;
    border-radius: 3px;
    background-color: white;
    padding-top: 2px;
    align-self: center;
    padding-left: 50%;
    
}

/* Customize the label (the container) 
input[type=checkbox] {
    position: relative;
    cursor: pointer;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid red;
    border-radius: 3px;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
    background-color: red;
    color: white;
}
*/
/* WP */

/*
input[type=radio] {
    padding-left:5px;
    padding-right:5px;
    padding top: 0px;
    border-radius:15px;
    -webkit-appearance:button;
    border: double 2px red;
    background-color: white;
    color: white;
    white-space: nowrap;
    overflow:hidden;
    width:20px;
    height:20px;
}

input[type=radio]:checked {
    background-color: white ;
    border-left-color: red;
    border-right-color: red;
}

*/

#sublab{ display: inline;
        letter-spacing: 2px;

}

/* Hover Floaters */
.float {
    display: inline !important;
}
/* Tooltip container */
.tooltip {
   position: relative;
   display: inline !important;
 }
 
/* Tooltip text */
.tooltip .tooltiptext {
   visibility: hidden;
   width: 600px;
   background-color: #555;
   color: #fff;
   letter-spacing: 1px;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;
 
/* Position the tooltip text */
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -60px;
 
/* Fade in tooltip */
   opacity: 0;
   transition: opacity 0.3s;
 }

 .tooltiptext {
    font: 10px;
    font-weight: 100;

 }
 
/* Tooltip arrow */
 .tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
 }
 
/* Show the tooltip text when you mouse over the tooltip container */
 .tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
 }


.fit{
    background-color: green !important ;
    color: white !important ;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0) !important; /* Fallback color */
    background-color: rgba(0,0,0,0.4) !important; /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe !important;
    margin: auto;
    padding: 20px;
    border: 1px solid #888 !important;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .highlight {
      border: red solid 2px;
  }

  /* Data Table Shizz */
  
  tr {
    background-color: white !important;
  }
  
  table.dataTable tr.odd td.sorting_1 {
    background-color: olive!important;
    color: white ;
  }

  table.dataTable tr.even td.sorting_1 {
    background-color: olive!important;
    color: white ;
  }
  
  #empTable_paginate, #empTable_info{
    font-size: 20px !important ;
    letter-spacing: 1px !important ;
    font-weight: 100 !important ;

  }

td.details-control {
    background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}
